@import "tailwindcss";

.editor-container {
  position: relative;
  font-family: "Fira code", "Fira Mono", monospace;
  font-size: 14px;
  background: #282c34; /* Match prism-tomorrow theme background */
}

.editor-container .editor {
  counter-reset: line;
}

.editor-container .editor .token-line {
  counter-increment: line;
  display: block;
}

.editor-container .editor .token-line::before {
  content: counter(line);
  position: absolute;
  left: 8px;
  width: 20px;
  text-align: right;
  color: #5c6370; /* Line number color */
  margin-right: 10px;
}

.editor-container .editor > textarea,
.editor-container .editor > pre {
  padding-left: 40px !important;
}
